.sliderImage{
    margin-top: 0 !important;
    padding-top:0 !important ;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliderText{
font-size: 40px;
color: white;
span{
    background-color: #ffb606;
}
}